<div class="container">
  <h1 class='text-center'>Following</h1><br>

  <% @following.each do |person| %>
    <div class="col-md-4">
      <%= image_tag(person.avatar_url, size: '200x200') %>
      <%= link_to person.login, person.html_url %>
    </div>
  <% end %>

</div>
