<div class="container">
  <h1><%= @user.name %></h1>
  <%= image_tag @user.avatar %>
  <h2>You Have <%= @user.followers.count %> followers </h2>
  <h2>You Are Following <%= @user.following.count %> people </h2>
</div>
